@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); */

:root {
  --background-color: #000000;
  --primary-color: #4f93b3;
  --secondary-color: #aaaaaa;
  --pimary-text-color: #d8d8d8;
  --line-color: #2d2d2d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 16px/1.5 'Lato', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 1em;
}

.main-wrapper {
  padding: 1em;
  margin: 0 auto;
  min-height: 90vh;
  max-width: 1280px;
}

.info-wrapper {
  /* padding: 1em 0; */
  margin-bottom: 1em;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
}

a,
a:visited {
  text-decoration: none;
  color: var(--p);
  transition: all 0.1s;
}

a:hover {
  transform: scale(1.1);
}

.main-header {
  margin-bottom: 1rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.94) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('img/code.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-header .adv {
  font-family: 'Beth Ellen', cursive;
  /* font-family: 'Rock Salt', cursive; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* font-size: 2em; */
}

/* .adv h2 {
  color: var(--pimary-text-color);
  color: var(--line-color);
  transform: rotate(-10deg);
} */

.main-header::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  /* padding: 5px; */
  background-color: var(--line-color);
  /* margin: 0.2rem 0; */
}

.my-name {
  /* color: var(--pimary-text-color); */
  display: inline-block;
  padding: 0 1em;
  /* font-size: 1.1em; */
  font-weight: bold;
}

.personal-details {
  margin: 1rem;
  font-size: 1.2em;
  color: var(--pimary-text-color);
}

.img-container {
  display: inline-block;
}

.contact {
  margin: 0 1.5em;
}

.contact-item {
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}
.contact-item > a {
  margin: 0.5em;
  display: flex;
  align-items: center;
}
.contact-item > a span {
  padding-left: 0.6em;
  font-size: 1.1em;
  color: var(--pimary-text-color);
}

/* Experience */
.experience {
  padding: 1rem;
  color: var(--pimary-text-color);
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}
.main-dates {
  /* border: 2px solid var(--line-color); */
  padding: 1em 3em;
  /* border-right: 2px solid var(--line-color); */
  flex: 0 1 40%;
  background-color: var(--line-color);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.94) 20%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.main-dates h2 {
  opacity: 0.5;
  text-shadow: -2px 2px 3px rgb(19, 19, 19);
}

.experience ul {
  list-style-type: none;
  padding-bottom: 1em;
}

.experience ul > li {
  /* padding: 0.5rem; */
  cursor: pointer;
}

.exp-dates h3 {
  margin-top: 0.8rem;
}

.experience-details {
  display: none;
}
.experience-details h4 {
  margin: 0.3em 0;
  font-size: 1.2em;
}

.experience-details.show-detail {
  padding-left: 0.4rem;
  display: block;
}

.experience h2 {
  margin-top: 1.2rem;
  color: var(--pimary-text-color);
}
.data {
  color: var(--primary-color);
}

p.data {
  margin-bottom: 0.4em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--pimary-text-color);
}

.details {
  padding: 1em 3em;
  flex-grow: 1;
  flex: 1 1 60%;
  text-align: center;
}

.details h2 {
  opacity: 0.5;
  margin-bottom: 0.5em;
}

.scale-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
}
.scale-item h5 {
  margin-left: auto;
  padding-right: 1.2em;
}

.scale-line--html {
  width: 80%;
  height: 15px;
  border-radius: 0.4em;
  position: relative;
  background-color: var(--line-color);
}
.scale-line--html::before {
  border: 1px solid var(--line-color);
  /* border-right: 3px solid var(--secondary-color); */
  content: '';
  display: block;
  width: 0%;
  height: 15px;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: 1;
  animation: line3 2s forwards ease-in-out;
}
@keyframes line3 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
.scale-line--css {
  width: 80%;
  height: 15px;
  border-radius: 0.4em;
  background-color: var(--line-color);
  position: relative;
}
.scale-line--css::before {
  border: 1px solid var(--line-color);
  content: '';
  display: block;
  width: 0;
  height: 15px;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  background-color: var(--secondary-color);
  /* border-right: 2px solid var(--secondary-color); */
  top: 0;
  left: 0;
  animation: line 2s forwards ease-in-out 0.5s;
}

@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.scale-line--js {
  width: 80%;
  height: 15px;
  border-radius: 0.4em;
  background-color: var(--line-color);
  position: relative;
}

.scale-line--js::before {
  border: 1px solid var(--line-color);
  content: '';
  display: block;
  width: 0;
  height: 15px;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  background-color: var(--secondary-color);
  /* border-right: 2px solid var(--secondary-color); */
  top: 0;
  left: 0;
  animation: line2 2s forwards ease-in-out 1s;
}
@keyframes line2 {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}
/* Demo site */
.demo-site {
  margin-top: 4rem;
  padding: 1em;
  text-align: center;
  background-color: var(--line-color);
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 1)
  );

  background-repeat: no-repeat;
  background-size: contain;
}

.demo-site h3 {
  margin-bottom: 0.5rem;
}
.demo-site a {
  font-family: 'Beth Ellen', cursive;
  color: var(--primary-color);
  font-size: 1.4em;
}
.demo-site-add-info {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.demo-site-add-info p {
  padding: 0 0.3rem;
}
.demo-site-add-info p > span {
  font-weight: bold;
  padding-left: 0.1rem;
}

.demo-site-item:first-child {
  margin-bottom: 2.4em;
}

.skills-wrapper {
  margin: 3rem 0 2rem 0;
  padding: 0 2rem;
  color: var(--pimary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.demo-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo h3 {
  opacity: 0.5;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.icon-stars-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5em;
  /* width: 250px; */
}
.prog {
  margin-right: auto;
  padding-right: 0.5em;
}
.all-stars {
  display: flex;
}
/* .icons img {
  opacity: 0.8;
  margin: 0.5rem;
  width: 25px;
  height: 25px;
} */

.star {
  background-color: var(--line-color);
  margin-right: 0.2em;
  width: 25px;
  height: 25px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star.star-fill:nth-of-type(1) {
  /* background-color: var(--primary-color); */
  animation: fill-star 1s forwards ease-in-out 2s;
}

@keyframes fill-star {
  from {
    background-color: var(--line-color);
  }
  to {
    background-color: var(--primary-color);
  }
}
.star.star-fill.angular:nth-of-type(2) {
  animation: fill-star 1s forwards ease-in-out 2.5s;
}
.star.star-fill.angular:nth-of-type(3) {
  animation: fill-star 1s forwards ease-in-out 3s;
}
.star.star-fill.vue:nth-of-type(1) {
  animation: fill-star 1s forwards ease-in-out 3.5s;
}
.star.star-fill.vue:nth-of-type(2) {
  animation: fill-star 1s forwards ease-in-out 4s;
}

/* Footer */
.footer {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--line-color);
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 1)
  );
}

.footer p {
  color: var(--primary-color);
  text-align: center;
  padding: 0.3rem;
}

@media (max-width: 1100px) {
  body {
    font-size: 0.8rem;
  }

  .skills-wrapper {
    flex-direction: column;
  }
  .scale-line--js,
  .scale-line--css,
  .scale-line--html {
    width: 72%;
  }
  .scale-item h5 {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .main-wrapper,
  .experience,
  .details,
  .footer {
    padding: 0;
  }

  .experience {
    flex-direction: column;
  }

  .main-dates {
    order: 2;
    margin: 0 auto;
    width: 90%;
    border: none;
    flex-grow: 1;
  }

  .demo-pics {
    flex-direction: column;
    height: 500px;
    max-width: 300px;
    margin: 0 auto;
  }

  .panel {
    margin-bottom: 10px;
  }
  .panel h4 {
    font-size: 0.8rem;
  }

  .demo {
    padding-bottom: 0.5em;
  }
  .scale-item {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .scale-line--js,
  .scale-line--css,
  .scale-line--html {
    width: 68%;
  }
  .main-dates {
    border: none;
    flex-grow: 1;
  }

  .scale-item {
    padding-top: 0.4em;
  }
  .scale-item h5 {
    font-size: 0.5rem;
  }
  .main-header {
    margin-bottom: 1rem;
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.96) 60%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('img/code.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .demo-site {
    margin-top: 2rem;
  }

  .demo h3 {
    letter-spacing: normal;
    font-size: 0.7rem;
    padding-left: 0;
  }
  .skills-wrapper {
    margin: 0 auto;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .icons img {
    /* margin-left: 0.5rem; */
    width: 20px;
    height: 20px;
  }

  .star {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 220px) {
  .skills-wrapper {
    padding: 0 0.2rem;
  }
  .prog {
    font-size: 0.8em;
  }
  .star {
    width: 12px;
    height: 12px;
  }
}
