@media (max-width: 1250px) {
  .header {
    height: 500px;
  }
  .main-menu {
    display: block;
  }

  .header-inner-content {
    padding: 1em;
  }
  .main-heading {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .main-heading::after {
    bottom: -20px;
  }
  .sub-title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .menus-wrapper {
    position: absolute;
    top: 76px;
    left: 16px;
  }

  .main-menu {
    flex-direction: column;
    border: 3px solid var(--primary-color);
    opacity: 0.9;
    background-color: var(--blush);
  }

  .main-menu li {
    font-size: 16px;
    margin: 16px 0;
  }
}

@media (max-width: 768px) {
  .header {
    height: 340px;
  }
  .main-heading {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  .sub-title {
    margin-bottom: 10px;
    font-size: 0.8em;
  }

  .nav-container {
    margin-top: 8px;
  }
  .main-menu {
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform: translateY(-100px);
  }
  .main-menu.show-main-nav {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transform: translateY(0);
    transition: all 0.4s ease-in;
  }
  .main-menu.hidde {
    transition: all 0.4s ease-in;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform: translateY(-100px);
  }
  .menus-wrapper {
    position: absolute;
    top: 20px;
    left: 110px;
  }
  .burger-menu {
    display: block;
  }

  .shopping-card {
    margin-left: 0.3em;
    margin-right: 20px;
  }
  .search-shop {
    margin-left: 15px;
  }

  .indicator-number {
    display: none;
  }
  .indicator-text {
    font-size: 10px;
  }
  button.header-button {
    padding: 5px 0.5rem;
    font-size: 9px;
  }

  .button-container {
    margin-top: 2.5em;
  }
  .carousel-container {
    height: 30px;
  }
  .main-nav ul li {
    margin-right: 1.6em;
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .indicator-number {
    display: none;
  }
  .sub-title {
    font-size: 0.8em;
  }
}
@media (max-width: 300px) {
  .indicator-tex-wrapper {
    display: none;
  }
}
