@media (max-width: 1100px) {
  .note-carousel {
    height: 300px;
    margin-top: 50px;
  }
  /* content direction */
  .note-carousel-content {
    height: 100%;
    flex-direction: column;
    padding: 0;
  }

  .note-small-nav {
    margin-bottom: 10px;
  }

  /* hide default buttons */
  #note-carousel-left-btn,
  #note-carousel-right-btn {
    display: none;
  }

  /* show mobile buttons */
  #note-carousel-left-btn2,
  #note-carousel-right-btn2 {
    display: block;
  }

  /* bigger buttons */
  .fa-chevron-left,
  .fa-chevron-right {
    cursor: pointer;
    color: #cccccc;
    font-size: 40px;
  }

  .note-text-container {
    max-width: 395px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .note-paragraph-container {
    height: 120px;
  }

  p.note-carousel-text,
  p.note-carousel-text.show-note {
    font-size: 16px;
    text-align: center;
    padding: 0 1em;
  }
  .note-sub.note-author,
  .note-sub.note-author.show-note {
    font-size: 14px;
    padding: 0;
    margin-left: 10px;
  }

  .note-carousel-svg {
    width: 80px;
    height: 80px;
    margin: 0 30px;
  }
  .fa-chevron-left {
    margin-right: 0;
  }
  .note-text-container {
    margin-right: 0;
  }
  .delimiter {
    margin: 3px 0;
  }
}

@media (max-width: 400px) {
  .note-carousel-inner {
    max-width: 934px;
  }
  p.note-carousel-text,
  p.note-carousel-text.show-note {
    font-size: 13px;
  }

  .delimiter {
    width: 10px;
  }
  .note-text-container {
    height: 120px;
  }
}
@media (max-width: 300px) {
  .note-text-container {
    width: 220px;
  }

  .note-text-container {
    width: 220px;
    height: 142px;
  }
  .note-paragraph-container {
    height: 130px;
  }
}
