.about .heading-story::after {
  bottom: -35px;
}

/* cards container */
.about-image-container {
  margin: 98px auto;
  margin-bottom: 110px;
  display: flex;
  justify-content: space-between;
}

/* card item */
.about-card-item {
  cursor: pointer;
  width: 380px;
  height: 100%;
}

/* counter */
.about-counter {
  width: 100%;
  height: 270px;
  background-color: #95e1d3;
}

/* max width for content */
.about-counter-inner {
  display: flex;
  height: 100%;
  margin: 0 auto;
}

/* counter items */
.about-counter-item {
  color: var(--primary-color, #fff);
  width: 20%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-counter-item:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.about-counter-item-number {
  font-size: 72px;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}
.about-counter-item-text {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* card item settings */
.about-img-wrapper {
  width: 100%;
  position: relative;
}

/* card item ratio */
.about-img-wrapper::before {
  content: '';
  display: block;
  padding-top: 65.79%;
}
.about-img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* hover effect settings */
.about-team-effect {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

/* icon for hover effect */
.users-svg {
  height: 24px;
  width: 32px;
  background: url('../assets/users.svg');
  margin-bottom: 10px;
}
.super-team-text {
  color: var(--primary-color, #fff);
  font-size: 18px;
  font-weight: 900;
}

.hover-over {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.hover-over:hover .about-team-effect {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hover-over:hover::before {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.hover-over::before {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
  z-index: 3;
}
.hover-over:hover::after {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.hover-over::after {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-right: 10px solid #95e1d3;
  border-bottom: 10px solid #95e1d3;
  z-index: 4;
}
