.blog-inner {
  margin: 0 auto;
}
/* text style */
.blog-inner .heading-sub {
  margin-bottom: 9px;
}

/* blog container */
.blog-card-container {
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 109px;
  display: flex;
  justify-content: space-between;
}

/* item style */
.blog-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 100%;
}

.blog-card-image-container {
  position: relative;
}

/* image wrapper */
.blog-card-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
/* set image ratio (small screens) */
.blog-card-img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  padding-top: 63.16%;
}

/* item image */
.blog-card-img img {
  display: block;
  width: 100%;
  height: auto;
}

/* date container */
.blog-date-wrapper {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

/* date styles */
.blog-date {
  color: var(--primary-color);
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.date-num,
.date-month {
  padding: 0;
  margin: 0;
  line-height: 80%;
}

.date-num {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

.date-month {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  text-align: center;
  color: var(--primary-color);
}

/* separator line */
.blog-delimiter-line {
  margin: 17px 0 13px 0;
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
}

/* comments and views */
.blog-indicator,
.blog-views,
.blog-comments {
  display: flex;
  align-items: center;
}
.blog-views {
  margin-right: 18px;
}
.blog-indicator i {
  margin-right: 5px;
  color: var(--light);
}

.blog-card-text-container .mini-heading {
  margin: 15px 0 8px 0;
}
