.footer {
  background-color: #f8f8f8;
}

.footer-inner {
  margin: 0 auto;
}

/* footer top has 3 parts: footer-left, footer-center and .footer-right  */
/* container */
.footer-top {
  padding: 73px 0 58px 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

/* footer left side */
/* container */
.footer-left {
  flex-shrink: 0;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 30px;
}
.footer-logo {
  display: inline;
  line-height: 0.8;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: bold;
  text-align: left;
  color: #cccccc;
  margin: 0;
  padding: 0;
}

.regular-text.footer-left-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 35px;
  padding-right: 20px;
}

.footer-left-follow-text {
  padding: 0;
}

.footer-dark {
  font-size: 18px;
  font-weight: bold;
}
.footer-left-delimiter {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 10px 0 16px 0;
}

/* social icons */
.follow-us {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.follow-us p {
  margin-right: 20px;
}

.follow-social {
  display: flex;
  color: #95e1d3;
}
.follow-social p {
  margin-right: 20px;
}
.follow-social i {
  margin-right: 15px;
}

/* form */
.subscribe {
  display: flex;
  margin-top: 35px;
}
/* form input */
.subscribe input[type='text'] {
  padding: 14px;
  border: solid 1px #e7e7e7;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #cccccc;
  outline: none;
  height: 40px;
  width: 230px;
}
/* form button */
.subscribe button {
  cursor: pointer;
  height: 40px;
  width: 150px;
  text-transform: uppercase;
  background-color: #95e1d3;
  padding: 14px 34px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
}

/* footer center */
/* container */
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mini-heading.footer-center-heading {
  display: block;
  margin: 0;
  padding-top: 2px;
  margin-bottom: 34px;
}
/* cards */
.footer-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
/* item */
.footer-card {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer-card:last-child {
  margin-bottom: 0;
}

.footer-card-img {
  width: 120px;
  height: 80px;
}
.footer-card-img.img-item1 {
  background: url('../assets/footer-center-1.jpg');
}
.footer-card-img.img-item2 {
  background: url('../assets/footer-center-2.jpg');
}
.footer-card-img.img-item3 {
  background: url('../assets/footer-center-3.jpg');
}
.footer-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 0 20px;
}
.footer-card-text {
  width: 210px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
  /* margin-bottom: 12px; */
}

.footer-card-date {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
/* footer right side */
.footer-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 88px);
  grid-template-rows: repeat(3, 88px);
  gap: 2px;
  margin-bottom: 14px;
}
/* footer bottom */
.footer-bottom {
  border-top: 1px solid #e5e5e5;
}

.footer-rights {
  text-align: center;
  padding: 19px 0 16px 0;
}

.site-author {
  color: var(--blush);
}
