.unique {
  height: 850px;
  background-image: url('../assets/unique.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
}

/* overlay */
.unique::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
}

/* different margin bottom for section heading separator */
.unique .heading-story::after {
  bottom: -39px;
}

/* tablet - overflow hidden */
.unique-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.unique-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* tablet position */
.unique-mobile,
.unique-mobile-ghost {
  position: absolute;
  top: 268px;
  left: 50%;
  transform: translateX(-50%);
  width: 477px;
  height: 582px;
  z-index: 1;
}
.unique-mobile {
  background-image: url('../assets/unique-phone.png');
}

.unique-mobile-ghost {
  background: none;
  z-index: 3;
  height: 582px;
}

/* phone position */
.unique-phone-over {
  position: absolute;
  background: url('../assets/white.png');
  width: 274px;
  height: 476px;
  top: 33%;
  left: 105%;
  transform: translateX(-50%);
  z-index: 3;
}
