.work {
  width: 100%;
  height: 650px;
}

/* different margin bottom for section heading */
.work .heading-story {
  margin-bottom: 68px;
}

/* cards container */
.work-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

/* item wrapper shows border bottom if needed */
.item-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 31px;
  padding-top: 40px;
}

/* border bottom after first row */
.item-wrapper:nth-child(1),
.item-wrapper:nth-child(2),
.item-wrapper:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

/* single item */
.work-item {
  max-width: 370px;
  display: flex;
  align-items: flex-start;
  padding-top: 3px;
  padding-bottom: 3px;
}

.work-item-icon {
  margin-top: 6px;
  width: 32px;
  height: 32px;
}

.work-item-content {
  padding-left: 29px;
  width: 368px;
}
.work-item-content h6 {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: normal;
  text-align: left;
  padding: 0 0 20px 0;
  padding-bottom: 13px;
  font-size: 14px;
  color: #333;
}
.work-item-content p {
  font-family: Roboto;
  color: #999999;
  font-size: 15px;
  text-align: left;
}
